*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #151515;
    border-bottom: white 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
    header h2{
        margin-left: 20px;
        color: white;
    }
    header nav{
        width: 30%;
    }
    header nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
        header nav ul li a{
            text-decoration: none;
            color: white;
        }
            header nav ul li a:hover{
                color: #1618ad;
                transition: all ease 0.5s;
            }

.blog_layout {
  display: grid;
  grid-template-columns: 3fr 1fr; /* conteúdo maior, sidebar menor */
  gap: 30px;
  width: 100%;
  background-color: rgb(221, 219, 219);
}

/* conteúdo principal */
.conteudo {
  min-width: 0;
  max-width: 700px;
  margin: 20px;
    line-height: 1.6;
  font-size: 16px;
}
  .conteudo p{
    margin-top: 10px;
  }
.cabecario{
  margin: 25px 12px 25px 12px;
  background: #888686;
  padding: 10px;
  border-radius: 8px;
}

.cabecario ul{
  list-style: none;
}
h3{
  margin: 15px 0 15px 0;
}

article img {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}
/* sidebar */
.comentarios {
  position: sticky;
  overflow-y: auto;
  background: #111;
  right: 0;
  padding: 10px;
  border-left: 1px solid #333;
}



@media (max-width: 900px) {
  .blog-layout {
    grid-template-columns: 1fr;
  }

  .comentarios {
    position: static;
    max-height: none;
  }
}